@import "tailwindcss";

.Header-container{
    background-color: rgb(39, 38, 38);
}
.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after{
    position: absolute;
    top:-1px;
    bottom:-1px;
    left: -1px;
    right:-1px;
    content:" ";
    z-index:-1;
    border-radius:45px;
}
/* HTML: <div class="loader"></div> */
.loader {
  --s: 25px;
  
  --_d: calc(0.353*var(--s));
  width: calc(var(--s) + var(--_d));
  aspect-ratio: 1;
  display: flex;
 
 
}
.loader:before,
.loader:after {
  content: "";
  flex: 1;
  clip-path: polygon(var(--_d) 0,100% 0,100% calc(100% - var(--_d)),calc(100% - var(--_d)) 100%,0 100%,0 var(--_d));
  background:
    conic-gradient(from -90deg at calc(100% - var(--_d)) var(--_d),
     #fff 135deg,#666 0 270deg,#aaa 0);
  animation: l5 1.2s infinite;
}
.loader:before {
  margin-right: calc(var(--_d)/-2 - 1px);
}
.loader:after {
  margin-left: calc(var(--_d)/-2 - 1px);
  animation-delay: 0.6s
}
@keyframes l5{
  0%     {transform: translateY(0)}
  16.67% {transform: translateY(-10px)}
  33.33% {transform: translateY(10px)}
  50%,
  100%   {transform: translateY(0)}
}



@media only screen and (max-width: 800px) {
    .card_container{
      display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 9px;
    }
}
